<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Projects</title>
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
    <script src="js/less.js" type="text/javascript"></script>
</head>

<body>
    
    <div id="loading"></div>

	<div id="container"></div>
	
	<%= File.read(File.join('views', 'tmpls.html')) %>
		
	<!-- =================================== -->
    <!--    Load Scripts                     -->
	<!-- =================================== -->
	
	<script src="js/jquery-1.8.0.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
    <script src="js/prettydate.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">
    	( function ($) { 
    		$(document).ready( function () { 
    			var json = <%= @projects %>;
        		App.init(json);
    		});
    	} )(jQuery)
	</script>
</body>

</html>