    <!-- =================================== -->
    <!--    Templates                        -->
	<!-- =================================== -->
	
	<script type="text/template" id="homeTemplate">
    	<div class="wrap">
            <div id="projects"></div>
            <a class="new" href="#">+ New</a>
    	</div>
	</script>
	
	<script type="text/template" id="ProjectMenuItem">
        <a class="show">&raquo;</a>
        <a class="delete"></a>
        <a class="edit"></a>
        <h2><%= name %></h2>
	</script>
	
	
	<script type="text/template" id="showProjectTemplate">
    	<div class="wrap">
            <div class="projectInfo">
                <h2><a class="back" href="#">&larr;</a> <%= name %></h2> 
            </div>
            <div class="projectTasks"></div>
            <a href="#" class="new">+</a>
    	</div>
	</script>
	
	<script type="text/template" id="taskTemplate">
    	<h4><%= name %></h4>
        <div class="status">Cheese</div>
        <select name="status" class="statusSelect">
            <option value="1">Started</option>
            <option value="2">10%</option>
            <option value="3">20%</option>
            <option value="4">30%</option>
            <option value="5">40%</option>
            <option value="6">50%</option>
            <option value="7">60%</option>
            <option value="8">70%</option>
            <option value="9">80%</option>
            <option value="10">90%</option>
            <option value="11">Ready</option>
            <option value="12">Launched</option>
            <option value="14">Postponed</option>
            <option value="0">Stopped</option>
        </select>
        <div class="notes"></div>
	</script>

    <script type="text/template" id="noteTemplate">
        <p contentEditable="true" ><%= text %></p>
        <small><%= created_at %></small>
        <a class="del" href="#">-</a>
    </script>