    <!-- =================================== -->
    <!--    Templates                        -->
	<!-- =================================== -->
	
	<script type="text/template" id="homeTemplate">
    	<div class="wrap">
            <div id="projects"></div>
            <a class="new" href="#">+ New</a>
    	</div>
	</script>
	
	<script type="text/template" id="ProjectMenuItem">
        <a class="show">&raquo;</a>
        <a class="delete"></a>
        <a class="edit"></a>
        <h2><%= name %></h2>
	</script>
	
	
	<script type="text/template" id="showProjectTemplate">
    	<div class="wrap">
            <div class="projectInfo">
                <h2><a class="back" href="#">&larr;</a> <%= name %></h2> 
            </div>
            <span class="total"></span>
            <div class="projectTasks"></div>
            <a href="#" class="new">+</a>
    	</div>
	</script>
	
	<script type="text/template" id="taskTemplate">
    	<a class="delete"></a>
        <a class="edit"></a>
        <h4><%= name %></h4>
        <div class="status"></div>
        <select name="status" class="statusSelect">
            <% _(App.statusList).each(function(value, key) { %>
                <option
                    <% if (percent == key) { %> selected="selected" <% } %>
                    value="<%= key %>">
                        <%= value %>
                </option>
            <% }); %>
        </select>
        <div class="notes"></div>
	</script>

    <script type="text/template" id="noteTemplate">
        <p contentEditable="true" ><%= text %></p>
        <small><%= created_at %></small>
        <a class="del"></a>
    </script>